.elementor-430 .elementor-element.elementor-element-b0be0a1 {text-align: center;}
.elementor-430 .elementor-element.elementor-element-b0be0a1.elementor-widget-heading .elementor-heading-title {color: #61ce70;}
.elementor-430 .elementor-element.elementor-element-9e6d853 .elementor-text-editor {text-align: center;}
.elementor-430 .elementor-element.elementor-element-9e6d853 {color: #4054b2;}
.elementor-430 .elementor-element.elementor-element-9fef982 .elementor-divider-separator {border-top-style: solid;border-top-width: 1px;width: 100%;}
.elementor-430 .elementor-element.elementor-element-9fef982 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}